USE [master]
GO
/****** Object:  Database [Restaurant]    Script Date: 7.09.2025 12:59:41 ******/
CREATE DATABASE [Restaurant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDERS\MSSQL\DATA\Restaurant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDERS\MSSQL\DATA\Restaurant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutCounters]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutCounters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Suffix] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AboutCounters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chefs]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chefs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Chefs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ContactMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuCategorys]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuCategorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MenuCategorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[MenuCategoryId] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[NumberOfPeople] [int] NOT NULL,
	[ReservationDateTime] [datetime2](7) NOT NULL,
	[SpecialRequest] [nvarchar](500) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Subtitle] [nvarchar](max) NOT NULL,
	[ButtonText] [nvarchar](max) NOT NULL,
	[ButtonUrl] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testimonials]    Script Date: 7.09.2025 12:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testimonials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Testimonials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250906002723_CreateDatabase', N'8.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250907075840_AddImagePathToMenuItem', N'8.0.15')
GO
SET IDENTITY_INSERT [dbo].[AboutCounters] ON 

INSERT [dbo].[AboutCounters] ([Id], [Title], [Value], [Suffix], [Description]) VALUES (1, N'Taze', N'150', N'+', N'Kahvaltı Seçenekleri')
INSERT [dbo].[AboutCounters] ([Id], [Title], [Value], [Suffix], [Description]) VALUES (2, N'Lezzetli', N'60', N'+', N'Öğle Yemekleri')
INSERT [dbo].[AboutCounters] ([Id], [Title], [Value], [Suffix], [Description]) VALUES (3, N'Sıcak', N'45', N'+', N'Kahve ve Çay Çeşitleri')
SET IDENTITY_INSERT [dbo].[AboutCounters] OFF
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([Id], [Title], [Content], [ImageUrl]) VALUES (1, N'HAKKIMIZDA', N'Kültürümüzün en güzel yönlerinden biri, sofralarda bir araya gelmektir. Biz de bu geleneği yaşatmak için yıllardır misafirlerimizi en iyi tatlarla buluşturuyoruz. Her tabakta geçmişin izini, geleceğe taşınan bir lezzeti bulacaksınız.
', N'about_us.png')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Chefs] ON 

INSERT [dbo].[Chefs] ([Id], [Name], [Title], [ImageUrl]) VALUES (1, N'Mehmet Yılmaz', N'Baş aşçı', N'chef-1.jpg')
INSERT [dbo].[Chefs] ([Id], [Name], [Title], [ImageUrl]) VALUES (2, N'Ayşe Demir', N'Tatlıcı', N'chef-2.jpg')
INSERT [dbo].[Chefs] ([Id], [Name], [Title], [ImageUrl]) VALUES (3, N'Luca Rossi', N'İtalyan', N'chef-3.jpg')
SET IDENTITY_INSERT [dbo].[Chefs] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuCategorys] ON 

INSERT [dbo].[MenuCategorys] ([Id], [Name]) VALUES (1, N'Kahvaltı')
INSERT [dbo].[MenuCategorys] ([Id], [Name]) VALUES (2, N'Ana Yemekler')
INSERT [dbo].[MenuCategorys] ([Id], [Name]) VALUES (3, N'Atıştırmalıklar')
SET IDENTITY_INSERT [dbo].[MenuCategorys] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([Id], [Name], [Description], [Price], [ImageUrl], [MenuCategoryId], [ImagePath]) VALUES (4, N'Hint Kahvaltısı', N'Baharatlı patatesli dosa (ince krep), masala chai (baharatlı sütlü çay), chutney soslar.', CAST(20.00 AS Decimal(18, 2)), N'hint_Kahvaltı.jpg', 1, N'')
INSERT [dbo].[MenuItems] ([Id], [Name], [Description], [Price], [ImageUrl], [MenuCategoryId], [ImagePath]) VALUES (5, N'Türk Serpme Kahvaltı (2 kişilik)', N'Beyaz peynir, kaşar, tulum peyniri, zeytin çeşitleri, bal, kaymak, reçel, domates-salatalık, menemen, börek, sahanda yumurta, sınırsız çay.', CAST(30.00 AS Decimal(18, 2)), N'Türk_Kahvaltı.jpg', 1, N'')
INSERT [dbo].[MenuItems] ([Id], [Name], [Description], [Price], [ImageUrl], [MenuCategoryId], [ImagePath]) VALUES (7, N'Fit Kahvaltı', N'Haşlanmış yumurta, lor peyniri, avokado dilimleri, zeytin, yulaf ezmesi ve meyve kasesi.', CAST(35.00 AS Decimal(18, 2)), N'avokadolu-yulafli-doyurucu-kase-1724069392394.jpg', 1, N'')
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Title], [Subtitle], [ButtonText], [ButtonUrl], [ImageUrl]) VALUES (2, N'“Her lokmada damağınızda unutulmaz bir şölen”', N'LEZZETLİ', N'Rezervasyon Yapın', N'/reservation', N'3.jpeg')
INSERT [dbo].[Sliders] ([Id], [Title], [Subtitle], [ButtonText], [ButtonUrl], [ImageUrl]) VALUES (3, N'“Şeflerimizin özel tarifleriyle hazırlanan ana yemeklerle sofranız renklensin”', N'ZARİF', N'Rezervasyon Yapın', N'/reservation', N'1.jpeg')
INSERT [dbo].[Sliders] ([Id], [Title], [Subtitle], [ButtonText], [ButtonUrl], [ImageUrl]) VALUES (4, N'“Taze ve özenle hazırlanmış başlangıç tabaklarıyla damağınızı şenlendirin”', N'NEFİS', N'Rezervasyon Yapın', N'/reservation', N'2.jpeg')
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Testimonials] ON 

INSERT [dbo].[Testimonials] ([Id], [CustomerName], [Content]) VALUES (1, N'Burak Deveci', N'“Restorandaki atmosfer çok keyifliydi, yemekler harikaydı. Tekrar geleceğim.”')
INSERT [dbo].[Testimonials] ([Id], [CustomerName], [Content]) VALUES (2, N'Selin Yılmaz', N'“Servis çok hızlıydı, garsonlar ilgiliydi. Özellikle tatlılar mükemmel.”')
INSERT [dbo].[Testimonials] ([Id], [CustomerName], [Content]) VALUES (3, N'Zeynep Kılıç', N'“Fiyat-performans açısından gayet başarılı, ailemle güzel bir akşam geçirdik.”')
SET IDENTITY_INSERT [dbo].[Testimonials] OFF
GO
/****** Object:  Index [IX_MenuItems_MenuCategoryId]    Script Date: 7.09.2025 12:59:42 ******/
CREATE NONCLUSTERED INDEX [IX_MenuItems_MenuCategoryId] ON [dbo].[MenuItems]
(
	[MenuCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT (N'') FOR [ImagePath]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_MenuCategorys_MenuCategoryId] FOREIGN KEY([MenuCategoryId])
REFERENCES [dbo].[MenuCategorys] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_MenuCategorys_MenuCategoryId]
GO
USE [master]
GO
